.container{
	display: inline-flex;
	position: absolute;
	width: 100%; height: 100%;
	padding: 10%;
/*color: lightpink;*/
font-family: monospace;
}
.row{
color: black;
display: inline-flex;


}
.left{
	background-color: blueviolet;
	width: 100%;
}

.form{
color: pink;
font-size: 20pt;
}

.formleft{
color: lightpink;
font-size: 20pt
}
.button{
	color: lightpink;
	background-color: black;
	font-size: 20pt;

}
.gamebody{
	text-align: center;
justify-content: center;
}